@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }

html {
    margin: 0px;
}

body {
    margin: 0px;
    
    background-color: #000000;
    color: #ffffff;

    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.header {
    background-image: url(../images/header_bg_1920_2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;

    position: relative;
}

.header::after {
    content: "";
    background-color: #000000;
    opacity: 0.8;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-container {
    width: 86vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.2vw;
    padding-bottom: 16.1vw;
    
    position: relative;
    z-index: 1;
}

.small-menu {
    display: none;
}

.menu {
    width: 70.5vw;

    margin-left: auto;
    margin-right: auto;
}

.menu-list {
    height: 5.7vw;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.menu-list-item {
    text-transform: uppercase;
    font-size: 1vw;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 3.2vw;
}

.menu-list-item:nth-child(5) {
    margin-left: 0px;
}

.menu-list .about-studio {
    margin-left: 6vw;
    margin-right: 6vw;

    align-self: flex-end;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
}

.menu-link:hover {
    color: #6E9F34;
}


.about-studio {
    margin-left: 6vw;
    margin-right: 6vw;

    align-self: flex-end;
}

.logo-container {
    position: absolute;
    top: 1vw;
    left: 36.7vw;
}

.logo {
    width: 8.2vw;
}

.header-data-container {
    margin-top: 12.8vw;

    width: 38.8vw;
}

.header-title {
    font-size: 2.1vw;
    line-height: 140%;
    font-weight: normal;

    text-transform: uppercase;

    margin: 0px;
}

.header-text {
    display: block;
    margin-top: 0.8vw;
    margin-bottom: 0px;
    
    font-size: 0.9vw;
    line-height: 130%;

}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
    padding: 0px;

    font-size: 0.8vw;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.header-button {
    margin: 1.1vw 0 0 0;
}

.feedback-button {
    padding: 0.9vw 1.4vw;

    background: #6E9F34;
    border-radius: 5px;
}

.feedback-button:hover {
    background: #179121;
}

.button-text {
    font-size: 0.8vw;
    line-height: 130%;
}

.social {
    position: absolute;

    top: 25.3vw;
    right: 0px;
}

.social-list {
    list-style: none;
    padding: 0px;
}

.instagram-img {
    background-image: url(../images/Instagram.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 2.1vw;
    height: 2.1vw;
}

.facebook-img {
    background-image: url(../images/Facebook.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 2.1vw;
    height: 2.1vw;
}

.youtube-img {
    background-image: url(../images/YouTube1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 2.1vw;
    height: 2.1vw;
}

.instagram-img:hover {
    background-image: url(../images/Instagram_green.png);
}

.facebook-img:hover {
    background-image: url(../images/Facebook_green.png);
}

.youtube-img:hover {
    background-image: url(../images/YouTube1_green.png);
}

/*.social-img {
    width: 2.1vw;
    height: 2.1vw;
}*/

.social-list-item:nth-child(n+2) {
    margin-top: 1.5vw;
}

/*main-container*/
.main-container {
    width: 86vw;
    margin-left: auto;
    margin-right: auto;
}

.main-container section {
    padding-top: 5vw;
}

.container-title {
    margin: 0px 0px 1.7vw 0px;
    
    text-align: center;
    text-transform: uppercase;

    font-size: 2.1vw;
    line-height: 130%;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.service-container {
    position: relative;

    padding-bottom: 11.3vw;
}

.card {
    width: 82.8vw;
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
    padding: 2.2vw 4.4vw 3.1vw;

    position: relative;
}

.card::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
}

.card-container {
    position: relative;
    z-index: 2;
}

.card-image {
    position: absolute;
    top: 0.5vw;
    right: -3.6vw;

    width: 37.6vw;
}

.card-title {
    font-size: 1.6vw;
    line-height: 130%;
    text-transform: uppercase;
}

.card-description {
    width: 43.5vw;
    font-size: 1vw;
    line-height: 130%;

    position: relative;
    z-index: 1;
}

.why-list {
    list-style: none;
    padding-left: 0px;
}

.why-list-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 0.8vw;
}

.data-count-container {
    width: 4.9vw;
    height: 4.9vw;

    border: 5px;
    border-style: solid;
    border-radius: 50%;
    border-color: #6E9F34;

    position: relative;
}

.data-count {
    font-size: 1.3vw;

    position: absolute;
    
}

.why-list span {
    top: 35%;
}

.first-count {
    left: 30%;
}

.second-count {
    left: 37%;
}

.third-count {
    left: 20%;
}

.data-count-description {
    margin-left: 0.8vw;
    font-size: 1vw;
}

.card-buttons {
    margin-top: 2.1vw;
}

.more-information {
    padding: 0.8vw 3.4vw 0.8vw 1.4vw;

    background: #000000;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;

    position: relative;
}

.more-information:hover {
    border-color: #179121;
    background: #179121;
}

.more-information::after {
    content: "";
    background-image: url(../images/NR.png);
    background-repeat: no-repeat;
    opacity: 1;

    position: absolute;
    top: 0.8vw;
    right: 0;
    bottom: 0;
    left: 6.7vw;
}

.service-button {
    margin-left: 1.6vw;
}

.more-information-icon {
    width: 0.9vw;
    height: 0.9vw;

    position: absolute;
    top: 0.8vw;
    right: 1.6vw;
}

.service-card-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin:1.8vw auto 0vw;

    width: 3.8vw;
}

.button-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
    padding: 0px;
    background-color: #d6d6d6;

    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
}

.button-slider:hover {
    background-color: #179121;
}

.first-slider {
    width: 1vw;
    height: 1vw;
    background-color: #6E9F34;
}

/*.slider {
    width: 100%;
}*/

/*.side-arrows {    
    position: absolute;
}*/

.side-button {
    position: absolute;

    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
    padding: 0px;
    background-color: #000000;
}

.left-arrow-button {
    top: 25.8vw;
    left: -2.2vw;

    width: 2.3vw;
    height: 2.3vw;

    background-image: url(../images/ArrowLeft.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.left-arrow-button:hover {
    background-image: url(../images/ArrowheadLeft-WF_green.png);
}

.right-arrow-button {
    top: 25.8vw;
    right: -2.2vw;

    width: 2.3vw;
    height: 2.3vw;

    background-image: url(../images/ArrowRight.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.right-arrow-button:hover {
    background-image: url(../images/ArrowHeadRight-WF_green.png);
}

/*.arrow-left {
    top: 20.8vw;
    left: -2.2vw;

    width: 2.1vw;
}

.arrow-right {
    top: 20.8vw;
    right: -2.2vw;

    width: 2.1vw;
}
*/

.green-fish {
    position: absolute;

    top: 28.7vw;
    left: -5.2vw;

    width: 17vw;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    z-index: 1;
}

.gallery-photos {
    width: 48%;
}

.gallery-photos img:nth-child(n+2) {
    margin-top: 2vw;
}

.gallery-photo {
    width: 100%;
}

.gallery-description {
    margin-left: 4%;
    width: 48%;
}

.gallery-text {
    margin-top: 0px;
    margin-bottom: 0.9vw;
    width: 41.6vw;

    font-size: 1vw;
    line-height: 130%;
}

.gallery-button {
    margin-bottom: 3.9vw;
}

.journal-container {
    margin-top: 12vw;
    padding-bottom: 11.3vw;
    position: relative;
}

.blue-fish {
    width: 29.3vw;
    
    position: absolute;

    top: -11.5vw;
    right: -2.4vw;
}

.journal-description {
    margin: 1.3vw auto 2.1vw;
    width: 81.6vw;
}

.journal-text-descriprion {
    margin-bottom: 0.9vw;

    width: 42.4vw;
    
    font-size: 1vw;
    line-height: 130%;
}

.articles h3 {
    text-align: center;
}

.article--container-title {
    text-transform: uppercase;
    font-size: 1.3vw;
    line-height: 130%;
}

.article-card {
    margin: 1.3vw auto 1.9vw;
    width: 81.6vw;

    background-image: url(../images/journal_1920.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;

    position: relative;
}

.article-card::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.article-card-content {
    padding: 18.1vw 51.1vw 1.8vw 2.7vw;

    width: 27.8vw;
    
    position: relative;
    z-index: 1;
    
}

.article-title {
    text-transform: uppercase;

    font-size: 1.6vw;
    line-height: 130%;
}

.article-description {
    text-transform: uppercase;

    font-size: 1vw;
    line-height: 130%;
}

.journal-article-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin:1.8vw auto 0vw;

    width: 3.8vw;
}

/*.slider {
    width: 100%;
}*/

.left-journal-button {
    top: 34.1vw;
    left: -2.2vw;

    width: 2.2vw;
    height: 2.2vw;

    background-image: url(../images/ArrowLeft.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.left-journal-button:hover {
    background-image: url(../images/ArrowheadLeft-WF_green.png);
}

.right-journal-button {
    top: 34.1vw;
    right: -2.2vw;

    width: 2.3vw;
    height: 2.3vw;

    background-image: url(../images/ArrowRight.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.right-journal-button:hover {
    background-image: url(../images/ArrowHeadRight-WF_green.png);
}

/*.arrow-left-journal {
    position: absolute;

    top: 28.1vw;
    left: -2.2vw;

    width: 2.1vw;
}

.arrow-right-journal {
    position: absolute;

    top: 28.1vw;
    right: -2.2vw;

    width: 2.1vw;
}*/

.contact-container {
    padding-bottom: 8.3vw;
}

.contact-content {
    margin: 3.1vw auto 0px;

    display: flex;
    flex-wrap: wrap;
}

.contact-map {
    width: 55.6vw;
}

.map {
    width: 100%;
}

.contact-data {
    margin-left: 6vw;
}

.contact-data a {
    text-decoration: none;
    font-size: 0.8vw;
    color: #ffffff;

}

.contact-title {
    margin-bottom: 0.4vw;
    
    font-size: 1.3vw;
    line-height: 130%;
    font-weight: bold;
}

.phone-number, .email, .address, .time {
    font-size: 0.8vw;
}

.phone-number:hover, .email:hover {
    color: #6E9F34;
}

.data-container {
    margin-bottom: 1.5vw;
}

.phone-numbers a span:nth-child(1) {
    margin-top: 0.3vw;
}

.data-container span {
    display: block;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;

    width: 6.5vw;
    
    list-style: none;
    padding-left: 0px;
}

.contact-list-item:nth-child(n+2) {
    margin-left: 0.8vw;
    margin-bottom: 0.8vw;
}

.contact-list-item:nth-child(4) {
    margin-left: 0px;
}

.social-contact-img {
    width: 1.6vw;
    height: 1.6vw;
}

.cont-instagram-img {
    background-image: url(../images/Instagram.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cont-instagram-img:hover {
    background-image: url(../images/Instagram_green.png);
}

.cont-facebook-img {
    background-image: url(../images/Facebook.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cont-facebook-img:hover {
    background-image: url(../images/Facebook_green.png);
}

.cont-youtube-img {
    background-image: url(../images/YouTube1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cont-youtube-img:hover {
    background-image: url(../images/YouTube1_green.png);
}

.cont-mail-img {
    background-image: url(../images/Mail.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cont-mail-img:hover {
    background-image: url(../images/Mail_green.png);
}

.cont-skype-img {
    background-image: url(../images/Skype.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cont-skype-img:hover {
    background-image: url(../images/Skype_green.png);
}


.cont-whatsapp-img {
    background-image: url(../images/WhatsApp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cont-whatsapp-img:hover {
    background-image: url(../images/WhatsApp_green.png);
}

.footer {
    background-image: url(../images/footer_bg_1920.png);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;

    position: relative;
}

.footer::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.2vw;
    padding-bottom: 1.6vw;

    width: 86vw;
    
    position: relative;
    z-index: 1;
}

.feedback-footer-container {
    margin: 0px auto 2.5vw;
    width: 40.4vw;
    
    position: relative;
}

.feedback-footer-container::after {
    content: "";
    background-color: #000000;
    opacity: 0.3;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;

}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    padding-top: 3vw;
    padding-bottom: 3.4vw;
    width: 40.4vw;

    position: relative;
    z-index: 1;
}

.feedback-form input {
    font-size: 1vw;
    line-height: 130%;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

    padding-left: 1.3vw;
    padding-right: 1.3vw;

    box-sizing: border-box;
}

.feedback-form textarea {
    font-size: 1vw;
    line-height: 130%;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

    padding: 0.5vw 1.3vw 0.5vw;

    box-sizing: border-box;
}

.feedback-form-title {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.hint {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.user-name, .user-phone {
    width: 25.3vw;
    height: 3.4vw;
}

.user-msg {
    min-width: 25.3vw;
    max-width: 25.3vw;
    min-height: 11.7vw;
    max-height: 11.7vw;
}

.user-name, .user-phone, .user-msg, .form-data-text {
    margin-bottom: 1vw;
}

.form-data-text {
    width: 16vw;
    font-size: 0.6vw;
    line-height: 130%;
}

.form-data-text p {
    margin: 0px;
}

.form-data-text a {
    color: #ffffff;
}

.link-in-text:hover {
    color: #6E9F34;
}

.footer-data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-links-list {
    margin: 0px;
    padding-left: 0px;

    list-style: none;
    
}

.links-items:nth-child(n+2) {
    margin-top: 0.7vw;
}

.data-link {
    font-size: 0.8vw;
    line-height: 130%;
    color: #ffffff;

}

.data-link:hover {
    color: #6E9F34;
}

.copyright {
    margin-top: 0.7vw;
    width: 7.2vw;
}

@media (min-width: 900px) and (max-width: 1500px) {
        .contact-map {
            width: 49.6vw;
    }

        .contact-data {
            margin-left: 2vw;
    }

}

@media (max-width: 900px) {
    .header {
        background-image: url(../images/header_bg_320.png);
        position: relative;
    }

    .header::after {
        opacity: 0.6;
    }
    
    .header-container {
        width: 88.4vw;
        padding-top: 55vw;
        padding-bottom: 10.9vw;
        
        position: relative;
        z-index: 1;
    }

    .small-menu {
        display: block;
        position: absolute;
        top: 6.9vw;
        right: 0;

        width: 10.35vw;
        height: 8.75vw;
    }

    .menu-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0px;
        padding: 0px;
        
        width: 10.35vw;
        height: 8.75vw;

        background-color: #000000;
        opacity: 1;
    } 

    .menu-button::after {
        content: "";

        background-image: url(../images/menu_320.png);
        background-repeat: no-repeat;
        background-position: center center;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 10.35vw;
        height: 8.75vw;
        
    }
    
    .menu {
        display: none;
    }
    
    .logo-container {
        position: absolute;
        top: 5vw;
        left: 0vw;
    }
    
    .logo {
        width: 11.6vw;
    }
    
    .header-data-container {
        margin-top: 12.8vw;
    
        width: 88.4vw;
    }
    
    .header-title {
        font-size: 4.7vw;
    }
    
    .header-text {
        margin-top: 3.1vw;
        margin-bottom: 0px;
        
        font-size: 3.1vw;
    }
    
    .button {
        font-size: 3.4vw;
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
        color: #ffffff;
    }
    
    .header-button {
        margin: 52.9vw 0 0 0;
    }
    
    .feedback-button {
        padding: 3.75vw 21.5vw;
        width: 86.5vw;
    
        background: #6E9F34;
        border-radius: 5px;
    }
    
    .button-text {
        font-size: 3.4vw;
        line-height: 130%;
    }
    
    .social {
        display: none;
    }
    
    /*main-container*/
    .main-container {
        width: 88.4vw;
    }
    
    .main-container section {
        padding-top: 15.6vw;
    }
    
    .container-title {
        margin: 0px 0px 5.6vw 0px;
    
        font-size: 4.7vw;
    }
    
    .service-container {
        position: relative;
    
        padding-bottom: 0vw;
    }
    
    .card {
        width: auto;
        box-sizing: border-box;

        padding: 0vw 0vw 0vw;
    
        position: relative;
    }
    
    .card::after {
        display: none;
    }
    
    .card-container {
        position: relative;
        z-index: 2;
    }
    
    .card-image {
        display: none;
    }
    
    .card-title {
        font-size: 4vw;
    }
    
    .card-description {
        width: 83.4vw;
        font-size: 3.1vw;
    
        position: relative;
        z-index: 1;
    }
    
    .why-list {
        list-style: none;
        padding-left: 0px;
    }
    
    .why-list-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
        margin-top: 0.8vw;
    }
    
    .data-count-container {
        width: 13.1vw;
        height: 13.1vw;
    
        border: 3px;
        border-style: solid;
        border-radius: 50%;
        border-color: #6E9F34;
    
        position: relative;
    }
    
    .data-count {
        font-size: 3.4vw;
    
        position: absolute;
        
    }
    
    .why-list span {
        top: 35%;
    }
    
    .first-count {
        left: 30%;
    }
    
    .second-count {
        left: 37%;
    }
    
    .third-count {
        left: 20%;
    }
    
    .data-count-description {
        margin-left: 2.2vw;

        width: 62vw;

        font-size: 3.1vw;
    }
    
    .card-buttons {
        margin-top: 2.1vw;
    }

    .card-buttons button:nth-child(2) {
        margin-top: 2.8vw;
    }
    
    .more-information {
        padding: 0.8vw 3.4vw 0.8vw 1.4vw;
    
        background: #000000;
        border: 1px;
        border-style: solid;
        border-radius: 5px;
        border-color: #ffffff;
    
        position: relative;
    }

    .more-information::after {
        content: "";
        background-image: url(../images/NR.svg);
        background-repeat: no-repeat;
        opacity: 1;
    
        position: absolute;
        top: 1vw;
        right: 0;
        bottom: 0;
        left: 21.7vw;
    }
    
    .service-button {
        margin-left: 0vw;
        padding: 3.75vw 38.5vw 3.75vw 28.5vw;

        width: 86.5vw;
    }

    .service-button::after {
        content: "";
        background-image: url(../images/NR.svg);
        background-repeat: no-repeat;
        opacity: 1;
    
        position: absolute;
        top: 3.5vw;
        right: 0;
        bottom: 0;
        left: 51.7vw;
    }
    
    .service-card-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    
        margin:7.5vw auto 0vw;
    
        width: 10vw;
    }
    
    .button-slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0px;
        padding: 0px;
        background-color: #d6d6d6;
    
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 50%;
    }
    
    .first-slider {
        width: 3.1vw;
        height: 3.1vw;
        background-color: #6E9F34;
    }
    
    .side-button {
        position: absolute;
    
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0px;
        padding: 0px;
        background-color: #000000;
    }
    
    .left-arrow-button {
        display: none;
    
    }
    
    .right-arrow-button {
        display: none;
    }
    
    .green-fish {
        display: block;
        position: absolute;
    
        top: 132vw;
        left: -7vw;
    
        width: 25.6vw;
    }

    .gallery-container {
        position: relative;
        z-index: 1;
    }
    
    .gallery-content {
        display: flex;
        flex-wrap: wrap;
    }
    
    .gallery-photos {
        display: none;
    }
    
    .gallery-description {
        margin-left: 0%;
        width: 100%;
    }
    
    .gallery-text {
        margin-top: 0px;
        margin-bottom: 0vw;
        width: 86.5vw;
    
        font-size: 3.1vw;
        line-height: 130%;
    }
    
    .gallery-button {
        margin-top: 1.9vw;
        margin-bottom: 5.9vw;
        padding-left: 0vw;
        padding-right: 0vw;

        width: 35vw;

        color: #969696;
        font-size: 2.8vw;
        line-height: 130%;

        border: 0px;

        text-align: left;
    }

    .journal-container {
        margin-top: 0vw;
        padding-bottom: 0vw;
        position: relative;
    }

    .journal-container h2 {
        position: relative;
        z-index: 1;
    }
    
    .blue-fish {
        display: block;
        
        width: 42.3vw;
        
        position: absolute;
    
        top: -18.5vw;
        right: -2.8vw;
    }
    
    .journal-description {
        margin: 1.3vw auto 2.1vw;
        width: 100%;
    }
    
    .journal-text-descriprion {
        margin-bottom: 0vw;
    
        width: 80.5vw;
        
        font-size: 3.1vw;
        line-height: 130%;
    }

    .journal-button {
        margin-top: 1.9vw;
        margin-bottom: 5.9vw;
        padding-left: 0vw;
        padding-right: 0vw;

        width: 35vw;

        color: #969696;
        font-size: 2.8vw;
        line-height: 130%;

        border: 0px;

        text-align: left;
    }
    
    .articles h3 {
        display: none;
    }
    
    .article-card {
        margin: 1.3vw auto 1.9vw;
        width: 100%;
    
        background-image: url(../images/journal_1920.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    
        border: 0px;
    
        position: relative;
    }
    
    .article-card::after {
        content: "";
        background-color: #000000;
        opacity: 0.5;
    
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .article-card-content {
        margin-left: auto;
        margin-right: auto;

        padding: 41.6vw 0vw 3.8vw;
    
        width: 73.4vw;
        
        position: relative;
        z-index: 1;
        
    }
    
    .article-title {
        margin-bottom: 0.9vw;
        text-transform: uppercase;
    
        font-size: 4vw;
        line-height: 130%;
    }
    
    .article-description {
        text-transform: uppercase;
    
        font-size: 3.1vw;
        line-height: 130%;
    }
    
    .journal-article-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    
        margin: 7.5vw auto 0vw;
    
        width: 10vw;
    }
    
    .left-journal-button {
        display: none;
    }
    
    .right-journal-button {
        display: none;
    }
    
    .contact-container {
        padding-bottom: 8.3vw;
    }
    
    .contact-content {
        margin: 5.6vw auto 0px;
    
        display: flex;
        flex-wrap: wrap;
    }
    
    .contact-map {
        width: 100%;
    }
    
    .map {
        width: 100%;
    }
    
    .contact-data {
        margin-left: 0vw;
        margin-top: 6.9vw;

        width: 100%;
    }
    
    .contact-data a {
        text-decoration: none;
        font-size: 0.8vw;
        color: #ffffff;
    
    }
    
    .contact-title {
        margin-bottom: 0.6vw;
        
        font-size: 4.1vw;
        line-height: 130%;
        font-weight: bold;
    }
    
    .phone-number, .email, .address, .time {
        font-size: 3.1vw;
    }
    
    .data-container {
        margin-bottom: 6.9vw;
    }

    .contact-data .data-container:last-child {
        margin-bottom: 0vw;
    }
    
    .phone-numbers a span:nth-child(1) {
        margin-top: 0.9vw;
    }
    
    .data-container span {
        display: block;
    }
    
    .contact-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0vw;
    
        width: 17.8vw;
        
        list-style: none;
        padding-left: 0px;
    }
    
    .contact-list-item:nth-child(n+2) {
        margin-left: 2.2vw;
        margin-bottom: 2.2vw;
    }
    
    .contact-list-item:nth-child(4) {
        margin-left: 0px;
    }
    
    .social-contact-img {
        width: 4.4vw;
        height: 4.4vw;
    }
    
    .footer {
        background-image: url(../images/footer_bg_1920.png);
    
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
    
        position: relative;
    }
    
    .footer::after {
        content: "";
        background-color: #000000;
        opacity: 0.6;
    
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .footer-container {
        margin-left: auto;
        margin-right: auto;
        padding-top: 2.2vw;
        padding-bottom: 1.6vw;
    
        width: 100%;
        
        position: relative;
        z-index: 1;
    }
    
    .feedback-footer-container {
        margin: 0px auto 2.5vw;
        width: 100%;
        
        position: relative;
    }
    
    .feedback-footer-container::after {
        display: none;
    
    }
    
    .feedback-form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    
        padding-top: 3vw;
        padding-bottom: 15.6vw;
        width: 100%;
    
        position: relative;
        z-index: 1;
    }
    
    .feedback-form input {
        font-size: 3.7vw;
        line-height: 130%;
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    
        padding-left: 1.3vw;
        padding-right: 1.3vw;
    
        box-sizing: border-box;
    }
    
    .feedback-form textarea {
        font-size: 3.7vw;
        line-height: 130%;
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    
        padding: 2.5vw 1.3vw 0.5vw;
    
        box-sizing: border-box;
    }
    
    .feedback-form-title {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .hint {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
    }
    
    .user-name, .user-phone {
        width: 86.5vw;
        height: 11.9vw;
    }
    
    .user-msg {
        min-width: 86.5vw;
        max-width: 86.5vw;
        min-height: 27.5vw;
        max-height: 27.5vw;
    }
    
    .user-name, .user-phone, .user-msg, .form-data-text {
        margin-bottom: 2.8vw;
    }
    
    .form-data-text {
        width: 86.5vw;
        font-size: 3.1vw;
        line-height: 130%;
    }
    
    .form-data-text p {
        margin: 0px;
    }
    
    .form-data-text a {
        color: #ffffff;
    }
    
    .footer-data-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .footer-logo {
        padding-top: 6.6vw;
        padding-bottom: 5.4vw;
        order: 2;
    }

    .footer-data {
        text-align: center;
    }
    
    .footer-links-list {
        margin: 0px;
        padding-left: 0px;
    
        list-style: none;
        
    }
    
    .links-items:nth-child(n+2) {
        margin-top: 0.7vw;
    }
    
    .data-link {
        font-size: 3.1vw;
        line-height: 130%;
        color: #ffffff;
    
    }
    
    .copyright {
        margin-top: 2.5vw;
        width: 27.8vw;
    }
}