@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }

html {
    margin: 0px;
}

body {
    margin: 0px;
    
    background-color: #000000;
    color: #ffffff;

    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.header {
    background-image: url(../images/header_bg_1920_2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;

    position: relative;
}

.header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header-container {
    width: 86vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.2vw;
    padding-bottom: 16.1vw;
    
    position: relative;
    z-index: 1;
}

.menu {
    width: 70.5vw;

    margin-left: auto;
    margin-right: auto;
}

.menu-list {
    height: 4.7vw;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.menu-list-item {
    text-transform: uppercase;
    font-size: 1vw;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 3.2vw;
}

.menu-list-item:nth-child(5) {
    margin-left: 0px;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
}

.about-studio {
    margin-left: 6vw;
    margin-right: 6vw;

    align-self: flex-end;
}

.logo-container {
    position: absolute;
    top: 1vw;
    left: 36.7vw;
}

.logo {
    width: 8.2vw;
}

.header-data-container {
    margin-top: 12.8vw;

    width: 38.8vw;
}

.header-title {
    font-size: 2.1vw;
    line-height: 140%;
    font-weight: normal;

    text-transform: uppercase;

    margin: 0px;
}

.header-text {
    display: block;
    margin-top: 0.8vw;
    margin-bottom: 0px;
    
    font-size: 0.9vw;
    line-height: 130%;

}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
    padding: 0px;

    font-size: 0.8vw;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.header-button {
    margin: 1.1vw 0 0 0;
}

.feedback-button {
    padding: 0.7vw 1.4vw;

    background: #6E9F34;
    border-radius: 5px;
}

.button-text {
    font-size: 0.8vw;
    line-height: 130%;
}

.social {
    position: absolute;

    top: 25.3vw;
    right: 0px;
}

.social-list {
    list-style: none;
    padding: 0px;
}

.instagram-img {
    background-image: url(../images/Instagram.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 2.1vw;
    height: 2.1vw;
}

.facebook-img {
    background-image: url(../images/Facebook.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 2.1vw;
    height: 2.1vw;
}

.youtube-img {
    background-image: url(../images/YouTube1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 2.1vw;
    height: 2.1vw;
}

/*.social-img {
    width: 2.1vw;
    height: 2.1vw;
}*/

.social-list-item:nth-child(n+2) {
    margin-top: 1.5vw;
}

/*main-container*/
.main-container {
    width: 86vw;
    margin-left: auto;
    margin-right: auto;
}

.main-container section {
    padding-top: 5vw;
}

.container-title {
    margin: 0px 0px 1.7vw 0px;
    
    text-align: center;
    text-transform: uppercase;

    font-size: 2.1vw;
    line-height: 130%;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.service-container {
    position: relative;
}

.card {
    width: 82.8vw;
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
    padding: 2.2vw 4.4vw 3.1vw;

    position: relative;
}

.card::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
}

.card-container {
    position: relative;
    z-index: 2;
}

.card-image {
    position: absolute;
    top: 0.5vw;
    right: -3.6vw;

    width: 37.6vw;
}

.card-title {
    font-size: 1.6vw;
    line-height: 130%;
    text-transform: uppercase;
}

.card-description {
    width: 43.5vw;
    font-size: 1vw;
    line-height: 130%;

    position: relative;
    z-index: 1;
}

.why-list {
    list-style: none;
    padding-left: 0px;
}

.why-list-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 0.8vw;
}

.data-count-container {
    width: 4.9vw;
    height: 4.9vw;

    border: 5px;
    border-style: solid;
    border-radius: 50%;
    border-color: #6E9F34;

    position: relative;
}

.data-count {
    font-size: 1.3vw;

    position: absolute;
    
}

.why-list span {
    top: 35%;
}

.first-count {
    left: 30%;
}

.second-count {
    left: 37%;
}

.third-count {
    left: 20%;
}

.data-count-description {
    margin-left: 0.8vw;
    font-size: 1vw;
}

.card-buttons {
    margin-top: 2.1vw;
}

.more-information {
    padding: 0.8vw 3.4vw 0.8vw 1.4vw;

    background: #000000;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;

    position: relative;
}

.service-button {
    margin-left: 1.6vw;
}

.more-information-icon {
    width: 0.9vw;
    height: 0.9vw;

    position: absolute;
    top: 0.8vw;
    right: 1.6vw;
}

.service-card-slider {
    margin:1.8vw auto 11.3vw;

    width: 3.8vw;
}

.slider {
    width: 100%;
}

.side-arrows {
    position: absolute;
}

.arrow-left {
    top: 20.8vw;
    left: -2.2vw;

    width: 2.1vw;
}

.arrow-right {
    top: 20.8vw;
    right: -2.2vw;

    width: 2.1vw;
}

.green-fish {
    position: absolute;

    top: 28.7vw;
    left: -5.2vw;

    width: 17vw;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
}

.gallery-photos {
    width: 48%;
}

.gallery-photos img:nth-child(n+2) {
    margin-top: 2vw;
}

.gallery-photo {
    width: 100%;
}

.gallery-description {
    margin-left: 4%;
    width: 48%;
}

.gallery-text {
    margin-top: 0px;
    margin-bottom: 0.9vw;
    width: 41.6vw;

    font-size: 1vw;
    line-height: 130%;
}

.gallery-button {
    margin-bottom: 3.9vw;
}

.journal-container {
    margin-top: 12vw;
    position: relative;
}

.blue-fish {
    width: 29.3vw;
    
    position: absolute;

    top: -11.5vw;
    right: -3.4vw;
}

.journal-description {
    margin: 1.3vw auto 2.1vw;
    width: 81.6vw;
}

.journal-text-descriprion {
    margin-bottom: 0.9vw;

    width: 42.4vw;
    
    font-size: 1vw;
    line-height: 130%;
}

.articles h3 {
    text-align: center;
}

.article--container-title {
    text-transform: uppercase;
    font-size: 1.3vw;
    line-height: 130%;
}

.article-card {
    margin: 1.3vw auto 1.9vw;
    width: 81.6vw;

    background-image: url(../images/journal_1920.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;

    position: relative;
}

.article-card::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.article-card-content {
    padding: 18.1vw 51.1vw 1.8vw 2.7vw;

    width: 27.8vw;
    
    position: relative;
    z-index: 1;
    
}

.article-title {
    text-transform: uppercase;

    font-size: 1.6vw;
    line-height: 130%;
}

.article-description {
    text-transform: uppercase;

    font-size: 1vw;
    line-height: 130%;
}

.journal-article-slider {
    margin:1.8vw auto 11.3vw;

    width: 3.8vw;
}

.slider {
    width: 100%;
}

.arrow-left-journal {
    position: absolute;

    top: 28.1vw;
    left: -2.2vw;

    width: 2.1vw;
}

.arrow-right-journal {
    position: absolute;

    top: 28.1vw;
    right: -2.2vw;

    width: 2.1vw;
}

.contact-container {
    padding-bottom: 8.3vw;
}

.contact-content {
    margin: 3.1vw auto 0px;

    display: flex;
    flex-wrap: wrap;
}

.contact-map {
    width: 55.6vw;
}

.map {
    width: 100%;
}

.contact-data {
    margin-left: 6vw;
}

.contact-data a {
    text-decoration: none;
    font-size: 0.8vw;
    color: #ffffff;

}

.contact-title {
    margin-bottom: 0.4vw;
    
    font-size: 1.3vw;
    line-height: 130%;
    font-weight: bold;
}

.phone-number, .email, .address, .time {
    font-size: 0.8vw;
}

.data-container {
    margin-bottom: 1.5vw;
}

.phone-numbers a span:nth-child(1) {
    margin-top: 0.3vw;
}

.data-container span {
    display: block;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;

    width: 6.5vw;
    
    list-style: none;
    padding-left: 0px;
}

.contact-list-item:nth-child(n+2) {
    margin-left: 0.8vw;
    margin-bottom: 0.8vw;
}

.contact-list-item:nth-child(4) {
    margin-left: 0px;
}

.social-contact-img {
    width: 1.6vw;
}

.footer {
    background-image: url(../images/footer_bg_1920.png);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;

    position: relative;
}

.footer::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.2vw;
    padding-bottom: 1.6vw;

    width: 86vw;
    
    position: relative;
    z-index: 1;
}

.feedback-footer-container {
    margin: 0px auto 2.5vw;
    width: 40.4vw;
    
    position: relative;
}

.feedback-footer-container::after {
    content: "";
    background-color: #000000;
    opacity: 0.3;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;

}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    padding-top: 3vw;
    padding-bottom: 3.4vw;
    width: 40.4vw;

    position: relative;
    z-index: 1;
}

.feedback-form input {
    font-size: 1vw;
    line-height: 130%;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

    padding-left: 1.3vw;
    padding-right: 1.3vw;

    box-sizing: border-box;
}

.feedback-form textarea {
    font-size: 1vw;
    line-height: 130%;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;

    padding: 0.5vw 1.3vw 0.5vw;

    box-sizing: border-box;
}

.feedback-form-title {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.hint {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.user-name, .user-phone {
    width: 25.3vw;
    height: 3.4vw;
}

.user-msg {
    width: 25.3vw;
    height: 11.7vw;
}

.user-name, .user-phone, .user-msg, .form-data-text {
    margin-bottom: 1vw;
}

.form-data-text {
    width: 16vw;
    font-size: 0.6vw;
    line-height: 130%;
}

.form-data-text p {
    margin: 0px;
}

.form-data-text a {
    color: #ffffff;
}

.footer-data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-links-list {
    margin: 0px;
    padding-left: 0px;

    list-style: none;
    
}

.links-items:nth-child(n+2) {
    margin-top: 0.7vw;
}

.data-link {
    font-size: 0.8vw;
    line-height: 130%;
    color: #ffffff;

}

.copyright {
    margin-top: 0.7vw;
    width: 7.2vw;
}

@media (min-width: 100px) and (max-width: 1500px) {
        .contact-map {
            width: 49.6vw;
    }

        .contact-data {
            margin-left: 2vw;
    }

}